<!DOCTYPE html>
<html lang="en">

{{> head}}
<body class="bg-dark text-white">

<div class="container">
    {{> navbar}}
</div>

   <div class="container">
     {{{body}}}
   </div>
    {{>footer}}
</body>
</html>